
<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>wayne-自动化</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
<div style="text-align:center">
<form action="/sendbonus/" method="post" class="btn btn waves-effect waves-light" >
<button type="submit" class="btn btn-success btn-lg">点击发送bonus</button>
</form>

<br>
<form action="/sendcoupon/" method="post" >
<button type="submit" class="btn btn-success btn-lg">点击发送coupon</button>
<td>
    <label class="strong">输入手机号</label>
    <input type="text" style="width:200px;color:#ff0000"  name="phone" placeholder="输入手机号,用于创建订单"  value="18310220886" required/>
</td>
</form>
<br>
<form action="/serchoffer/" method="post" >
<button type="submit" class="btn btn-success btn-lg">点击审核优惠券</button>
</form>
    </div>
</body>

</html>